$white: #ffffff;
$black: #000000;
$red:   #ff0000;
$green: #00ff00;
$blue:  #0000ff;
$pink:  #ff00ff;

$gray: #808080;
$dark-gray: #303030;

$background: $white;

$primary:   #404040;
$secondary: #000000;
