.project {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: $primary;

    &:link {
        color: $primary;
    }

    &:hover {
        color: $secondary;
    }

    &:active {
        color: $primary;
    }

    &:visited {
        color: $primary;
    }

    .project-container {
        .project-image {
            position: relative;
            height: 0;
            padding-bottom: (1080 / 1920) * 100%;
            overflow: hidden;
            
            & img {
                width: 100%;
                filter: grayscale(100%);
                transition: filter 200ms ease-in-out;
        
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}