.project {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: $primary;

    &:link {
        color: $primary;
    }

    &:hover {
        color: $primary;
    }

    &:active {
        color: $primary;
    }

    &:visited {
        color: $primary;
    }

    .project-container {
        position: relative;

        .project-image {
            position: relative;
            height: 0;
            padding-bottom: (1080 / 1920) * 100%;
            overflow: hidden;
            
            & img {
                width: 100%;
            }
        }
        
        .project-title {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 1rem;
            margin: 0;
            
            padding: 1rem 0;
            text-align: center;
            text-shadow: 0 0 5px lighten($black, 20%);
            transform: translateY(100%);

            background: linear-gradient(rgba($black,0), rgba($black, 0.7));
            transition: transform 100ms ease-in-out;
        }

        &:hover {
            .project-title {
                transform: translateY(0)
            }
        }
    }
}