@import url('https://fonts.googleapis.com/css?family=Lato');

@import 'theme/colors/dark';

$font-family: 'Lato', Arial, sans-serif;
$font-size: 26px;

$container-breakpoints: s, m, l, xl;
$breakpoints: (
    xs: 0,
    s: 576px,
    m: 768px,
    l: 992px,
    xl: 1200px
);

$grid-gap: 15px;
$grid-columns: 12;
